
 <div class="alert alert-primary w-50" role="alert" >
    <p class="card-text"><%= @question %></p>
    <h5 class="card-title">- You</h5>
  </div>

 <div class="alert alert-primary w-50" role="alert" >
    <p class="card-text"> -<%= @answer %></p>
    <h5 h5class="card-title">-Your Coach</h5>
  </div>
