
<div class="form-group">
    <form action="/answer" data-turbo="false">

      <input type="text" name="question"  class="form-group">

      <input type="submit" value="Ask!">

    </form>
    </div>
